.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: min-content;
  margin: 1rem;
  &__form {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    &__label {
      color: red;
    }
    &__input {
      max-width: 75%;
    }
    &__button {
      max-width: fit-content;
    }
  }
  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    margin-right: 5rem;
  }
}
